.group-header {
  display: flex;
  align-items: center;
}

.group-header .select-all-checkbox {
  margin-right: 5px;
}

.group-header .group-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.group-toggle-button i {
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px;
}

.clear-button {
  cursor: pointer;
  background: none;
  border: none;
}