.close-btnVueti,
.open-btnVueti {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid #cccccc;
  transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: #f0f0f0;
}

.close-btnVueti:hover {
  background-color: #eaeaea;
}

.open-btnVueti {
  background-color: #eaeaea;
}

.svgCaretDown {
  width: 16px;
  height: 16px;
  background: url('icons/caretDownIcon.svg') no-repeat center / contain;
  display: inline-block;
  transition: transform 0.3s ease;
  filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

.svgCaretDown:hover {
  filter: none;
}

.caretDownIcon.open {
  transform: rotate(180deg);
  filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

.caretDownIcon.close {
  opacity: 1;
  transform: rotate(0deg);
}

.svgEraser {
  width: 16px;
  height: 14px;
  display: inline-block;
  background: url('icons/eraserIcon.svg') no-repeat center / contain;
  line-height: 16px;
  filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

.svgSearch {
  background: url('icons/searchIcon.svg') no-repeat center / contain;
  width: 14px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

.clearButton {
  background-color: #eaeaea;
  padding: 0px 12px;
  border: 1px solid #cccccc;
  border-top: none;
  border-left: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  background-color: #eaeaea;
  padding: 0px 12px;
  border: 1px solid #cccccc;
  border-right: none;
  border-top: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  display: flex;
  background-color: #ffffff;
  border-radius: 1px;
  top: 0;
  z-index: 1;
}

.searchBar {
  width: 100%;
  border: 1px solid #cccccc;
  border-top: none;
  padding: 4px 6px;
  box-shadow: none;
  outline: none;
}

.ulBox {
  overflow-y: auto;
  max-height: 300px;
  border: 1px solid #cccccc;
  border-top: none;
}

.ulMenu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.dropdownMenu {
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s;
}

.dropdownMenu.active {
  max-height: 350px;
  transform: scaleY(1);  
  transition: transform 0.3s;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  width: 100%;  
}

.dropdownContainer {
  position: relative;
}

.buttonBox {
  width: 100%;
  display: inline-block;  
}

