#noMargin {
    margin: 0;
}

.close-btnVueti,
.open-btnVueti {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border: 1px solid #cccccc;
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    background-color: #f0f0f0;
}

    .close-btnVueti:hover {
        background-color: #eaeaea;
    }

.open-btnVueti {
    background-color: #eaeaea;
}

.svgCaretDown {
    width: 16px;
    height: 16px;
    background: url('/assets/icons/caretDownIcon.svg') no-repeat center / contain; /* ../icons/caretDownIcon.svg */
    display: inline-block;
    transition: transform 0.3s ease;
    filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

    .svgCaretDown.open {
        transform: rotate(180deg);
    }

    .svgCaretDown.closed {
        transform: rotate(0deg);
    }

.svgEraser {
    width: 16px;
    height: 14px;
    display: inline-block;
    background: url('/assets/icons/eraserIcon.svg') no-repeat center / contain;
    line-height: 16px;
    filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

.btnClear {
    background-color: #eaeaea;
    padding: 0px 12px;
    border: 1px solid #cccccc;
    border-top: none;
    border-left: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svgSearch {
    background: url('/assets/icons/searchIcon.svg') no-repeat center / contain;
    width: 14px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

.svgSearchBox {
    background-color: #eaeaea;
    padding: 0px 12px;
    border: 1px solid #cccccc;
    border-right: none;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox {
    display: flex;
    background-color: #ffffff;
    border-radius: 1px;
    top: 0;
    z-index: 1;
}

.searchBar {
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #F8F9FA;
    border-top: none;
    padding: 4px 6px;
    box-shadow: none;
    outline: none;
}

.itemsBox {
    overflow-y: auto;
    max-height: 300px;
    background-color: #F8F9FA;
    border: 1px solid #cccccc;
    border-top: none;
    user-select: none;
}

.itemsMenu {
    list-style-type: none;
    padding-left: 25px;
    margin: 0;
}

.itemGroup {
    margin-bottom: 10px;
}

.itemBox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.itemLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 0;
}

.subItemBox {
    display: inline-block;
    align-items: center;
}

.subItemLabel {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.displayNames {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.subItemsMenu {
    list-style-type: none;
    padding-left: 20px;
}

.boxSelectAll {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectAllText {
    margin-left: 5px;
}

.valueCountText {
    margin-bottom: 0;
}

.groupCheckbox{
    cursor: pointer;
}

.labelSelectAll, .inputSelectAll {
    display: flex;
    cursor: pointer;
    margin-bottom: 0;
}

.toggleGroup {
    margin-left: 5px;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.svgArrow {
    width: 12px;
    height: 12px;
    background: url('/assets/icons/arrowIcon.svg') no-repeat center / contain;
    transition: transform 0.3s ease;
    filter: invert(48%) sepia(11%) saturate(247%) hue-rotate(86deg) brightness(88%) contrast(19%);
}

    .svgArrow.open {
        transform: rotate(90deg);
    }

.dropdownMenu {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

.dropdownContainer {
    position: relative;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.buttonBox {
    width: 100%
}